* {
    margin: 0;
    padding: 0;
}

body {
    background-color:azure;
    font-family:verdana;
}

.but1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-weight: 700;
    padding: 25px;
    width: 300px;
    font-size:23px;
    transition: background-color 0.3s, color 0.3s;
    
}

.header {
    height: 20%;
    width: 100%;
    padding: 30px 30px 20px;
    background-color:azure;
    box-shadow: 0px 20px 40px 10px azure;
}

a {
    text-decoration:none;
    outline: none;
    color:inherit;
    width:300px;
}

.but1:hover{
    
    border-style:outset;
    background-color:rgb(0,0,0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
    
}

nav {
    display:flex;
    align-items: center;
    text-align:center;
    justify-content: space-between;
    width: 97%;
}

.logo2 {
     width: 250px;
}

.logo3 {
    width:145px;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
   display: inline-block; 
   margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    padding: 5px 0;
}

.mainbody {
    width: 100%;
    text-align: center;
}

.img-info {
    width:100%;
}

.img-info h1 {
    padding: 30px 30px 20px;
    font-size: 50px;
    line-height: 44px;
}

.img-info p1 {
    padding: 0px 30px 20px;
    font-size: 16px;
    line-height: 24px;
}

.mainimg {
    width: 100%;
}


@media only screen and (max-width: 425px) {
    .header {
        width: 100%;
        padding-bottom: 30px;
        display:block;
    }
    .mainbody {
        text-align:center;
    }

    .but1{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 50px;
        font-weight: 700;
        padding: 25px;
        width: 160px;
        font-size:23px;
    }

    .logo{
        width:100px;
    }

    .img-info h1 {
        padding: 20px 0px 0px;
    }
    
    .img-info p1 {
        padding: 20px 0px 0px;
    }
    .mainimg {
        padding-top: 30px;
    }
    nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }
}



@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        padding-bottom: 30px;
        display:block;
    }
    .mainbody {
        text-align:center;
    }

    .img-info h1 {
        padding: 20px 0px 0px;
    }
    
    .img-info p1 {
        padding: 20px 0px 0px;
    }
    .mainimg {
        padding-top: 30px;
    }
    nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }

    .but1{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 50px;
        font-weight: 700;
        padding: 25px;
        width: 160px;
        font-size:23px;
    }
}


